[submodule "l10n-spain"]
	path = l10n-spain
	url = https://github.com/oca/l10n-spain.git
	branch = 12.0
[submodule "partner-contact"]
	path = partner-contact
	url = https://github.com/oca/partner-contact.git
	branch = 12.0
[submodule "community-data-files"]
	path = community-data-files
	url = https://github.com/oca/community-data-files.git
	branch = 12.0
[submodule "web"]
	path = web
	url = https://github.com/oca/web.git
	branch = 12.0
[submodule "server-ux"]
	path = server-ux
	url = https://github.com/oca/server-ux.git
	branch = 12.0
[submodule "server-tools"]
	path = server-tools
	url = https://github.com/oca/server-tools.git
	branch = 12.0
[submodule "bank-payment"]
	path = bank-payment
	url = https://github.com/oca/bank-payment.git
	branch = 12.0
[submodule "account-invoicing"]
	path = account-invoicing
	url = https://github.com/oca/account-invoicing.git
	branch = 12.0
